name: CD - Deploy to GKE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CLUSTER_NAME: student-app-cluster
  ZONE: us-centrall-a
  PROJECT_ID: eloquent-surge-478708-s3
  NAMESPACE: student-app

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
    - name: Check code
      uses: actions/checkout@v3

    - name: Set up Go
      run: actions/setup-kubectl@v3
      with:
        go-version: '1.21'
    
    - name: Run Tests
      run: go test -v ./...

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
  
  build-and-push:
    name: Build and Push Container
    needs: test
    runs-on: ubuntu-latest
    permissions:
      packags: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Log in to Github Container REGISTRY
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            $ {{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            $ {{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Image digest
        run: echo "Image" pushed to ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
  
  deploy-to-gke:
    name: Deploy to GKE
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Check code
      uses: actions/checkout@v3
    
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: ${{ env.CLUSTER_NAME }}
        location: ${{ env.ZONE }}
        project: ${{ env.PROJECT_ID }}
    
    - name: Deploy application
      run: |
        sed -i "s|ghcr.io/James-Zhang-Devops/student-core-infra:latest|${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}|g" k8s/deployment.yaml
        kubectl apply -f k8s/ -n ${{ env.NAMESPACE }}
        kubectl rollout status deployment/student-app -n ${{ env.NAMESPACE }} --timeout=300s
    
    - name: Verify deployment
      run: |
        kubectl get pods -n $ {{ env.NAMESPACE }} -o wide
        kubectl get services -n ${{ env.NAMESPACE }}